
# IDE - Intellij
/.idea/*
!.idea/runConfigurations
*.hprof*
.attach_pid*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Gradle
/.gradle/
!gradle-wrapper.jar
/build/
/backend/build/
/frontend/build/

# Gorelease
/scripts/release/dist

# Back - Code Base Exclusions
backend/src/main/resources/basic_ledger.gnucash
backend/src/main/resources/db/initialization/
backend/src/main/resources/static/assets/*
!backend/src/main/resources/static/assets/config.json

# Front - Build Tool Generated
frontend/.angular/cache
frontend/*.log
frontend/node_modules/

# Front - Compiled Output
frontend/dist

# Other
version
