<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${nodes} and ${nodes.size()}">no nodes :(</p>


<table class="table">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Value</th>
        <th>Left</th>
        <th>Right</th>
        <th>Parent</th>
        <th>Depth</th>
        <th>Action1</th>
    </tr>

    <tr th:each="node : ${nodes}">
        <td th:text="${node.id}"></td>
        <td th:text="${node.name}"></td>
        <td th:text="${node.value}"></td>
        <td th:text="${node.lft}"></td>
        <td th:text="${node.rgt}"></td>
        <td th:text="${node.parent}"></td>
        <td th:text="${node.depth}"></td>
        <td><button type="button" class="btn btn-sm">Add Child</button></td>

    </tr>

</table>

</body>
</html>