<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${nodes} and ${nodes.size()}">No nodes to display</p>

<table class="table">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Value</th>
        <th>Left</th>
        <th>Right</th>
        <th>Parent</th>
        <th>Depth</th>
        <th>Action</th>
    </tr>

    <tr th:each="node : ${nodes}">
        <td th:text="${node.id}"></td>
        <td th:text="${node.name}"></td>
        <td th:text="${node.value}"></td>
        <td th:text="${node.lft}"></td>
        <td th:text="${node.rgt}"></td>
        <td th:text="${node.parent}"></td>
        <td th:text="${node.depth}"></td>
        <td><a th:href="@{'/ledger/accounts/create?parentId=' + ${node.id}}" class="btn btn-outline-secondary btn-sm">Add Child</a></td>
        <!--button type="button" class="btn btn-sm">Add Child</button></td-->

    </tr>

</table>

<div th:replace="fragments :: bootstrapjs"></div>

</body>
</html>