mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
}
    
mat-form-field {
    display: block;
}

.show-hide-password-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}    
    
    