<div id="profile-component-content" style="padding: 1rem">
  <h2 class="mat-headline-5">{{ componentHeading }}</h2>

  <mat-card appearance="outlined" style="padding: 1rem; margin-top: 1rem">
    <mat-card-content>
      <form id="profile-details-form" [formGroup]="userForm">
        <mat-card-title>Details</mat-card-title>
        <div style="margin: 1rem 0 1rem 0"></div>
        <div class="pure-g-r">
          <mat-form-field
            appearance="fill"
            class="pure-u-1 pure-u-md-1-3"
            style="padding: 0.5rem 0.5rem 0.5rem 0; box-sizing: border-box">
            <mat-label>User Name</mat-label>
            <input matInput formControlName="username" required />
            <mat-error
              *ngIf="this.userForm.controls['username']?.hasError('required')">
              User name is <strong>required</strong>
            </mat-error>
            <mat-error
              *ngIf="this.userForm.controls['username']?.hasError('minlength')">
              User name must be at least
              {{
                this.userForm.controls['username']?.getError('minlength')
                  ?.requiredLength
              }}
              characters.
            </mat-error>
            <mat-error
              *ngIf="this.userForm.controls['username']?.hasError('maxlength')">
              User name must be no more than
              {{
                this.userForm.controls['username']?.getError('maxlength')
                  ?.requiredLength
              }}
              characters.
            </mat-error>
          </mat-form-field>

          <mat-form-field
            appearance="fill"
            class="pure-u-1 pure-u-md-1-3"
            style="padding: 0.5rem 0.5rem 0.5rem 0; box-sizing: border-box">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" required />
            <mat-error
              *ngIf="this.userForm.controls['firstName']?.hasError('required')">
              First name is <strong>required</strong>
            </mat-error>
            <mat-error
              *ngIf="
                this.userForm.controls['firstName']?.hasError('maxlength')
              ">
              First name must be no more than
              {{
                this.userForm.controls['firstName']?.getError('maxlength')
                  ?.requiredLength
              }}
              characters.
            </mat-error>
          </mat-form-field>

          <mat-form-field
            appearance="fill"
            class="pure-u-1 pure-u-md-1-3"
            style="padding: 0.5rem 0.5rem 0.5rem 0; box-sizing: border-box">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" required />
            <mat-error
              *ngIf="this.userForm.controls['lastName']?.hasError('required')">
              Last name is <strong>required</strong>
            </mat-error>
            <mat-error
              *ngIf="this.userForm.controls['lastName']?.hasError('maxlength')">
              Last name must be no more than
              {{
                this.userForm.controls['lastName']?.getError('maxlength')
                  ?.requiredLength
              }}
              characters.
            </mat-error>
          </mat-form-field>

          <mat-form-field
            appearance="fill"
            class="pure-u-1 pure-u-md-1-3"
            style="padding: 0.5rem 0.5rem 0.5rem 0; box-sizing: border-box">
            <mat-label>E-Mail</mat-label>
            <input matInput type="text" formControlName="email" required />
            <mat-error
              *ngIf="
                this.userForm.controls['email']?.hasError('email') &&
                !this.userForm.controls['email']?.hasError('required')
              ">
              Please enter a valid email address
            </mat-error>
            <mat-error
              *ngIf="this.userForm.controls['email']?.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
            <mat-error
              *ngIf="this.userForm.controls['email']?.hasError('maxlength')">
              Email must be no more than
              {{
                this.userForm.controls['email']?.getError('maxlength')
                  ?.requiredLength
              }}
              characters.
            </mat-error>
          </mat-form-field>
        </div>

        <mat-card-title>Role</mat-card-title>
        <div style="margin: 1rem 0 1rem 0"></div>
        <mat-radio-group class="example-radio-group" formControlName="role">
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let role of rolesArray"
            [value]="role.roleValue"
            name="roles">
            {{ role.roleName }}
          </mat-radio-button>
        </mat-radio-group>
        <div style="margin: 1rem 0 1rem 0"></div>

        <mat-card-title>Password</mat-card-title>
        <div style="margin: 1rem 0 1rem 0"></div>
        <div class="pure-g-r">
          <mat-form-field
            appearance="fill"
            class="pure-u-1 pure-u-md-1-3"
            style="padding: 0.5rem 0.5rem 0.5rem 0; box-sizing: border-box">
            <mat-label>Password</mat-label>
            <input
              matInput
              formControlName="password"
              [type]="isPasswordHidden ? 'password' : 'text'"
              required />
            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="isPasswordHidden = !isPasswordHidden"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="isPasswordHidden">
              <mat-icon class="password-visibility-indicator">{{
                isPasswordHidden ? 'visibility_off' : 'visibility'
              }}</mat-icon>
            </button>
          </mat-form-field>
          <div>
            <ul style="list-style-type: none; margin: 0; padding: 0">
              <li>
                <label
                  class="col"
                  [ngClass]="
                    userForm.controls['password']?.hasError('required') ||
                    userForm.controls['password']?.hasError('noWhitespace')
                      ? 'text-danger'
                      : 'text-success'
                  ">
                  <i class="material-icons" style="font-size: 1.2rem">
                    {{
                      userForm.controls['password']?.hasError('required') ||
                      userForm.controls['password']?.hasError('noWhitespace')
                        ? 'cancel'
                        : 'check_circle'
                    }}
                  </i>
                  No whitespace
                </label>
              </li>

              <li></li>
              <li>
                <label
                  class="col"
                  [ngClass]="
                    userForm.controls['password']?.hasError('required') ||
                    userForm.controls['password']?.hasError('minlength')
                      ? 'text-danger'
                      : 'text-success'
                  ">
                  <i class="material-icons" style="font-size: 1.2rem">
                    {{
                      userForm.controls['password']?.hasError('required') ||
                      userForm.controls['password']?.hasError('minlength')
                        ? 'cancel'
                        : 'check_circle'
                    }}
                  </i>
                  At least 8 characters
                </label>
              </li>

              <li>
                <label
                  class="col"
                  [ngClass]="
                    userForm.controls['password']?.hasError('required') ||
                    userForm.controls['password']?.hasError('hasNumber')
                      ? 'text-danger'
                      : 'text-success'
                  ">
                  <i class="material-icons" style="font-size: 1.2rem">
                    {{
                      userForm.controls['password']?.hasError('required') ||
                      userForm.controls['password']?.hasError('hasNumber')
                        ? 'cancel'
                        : 'check_circle'
                    }}
                  </i>
                  At least 1 number
                </label>
              </li>
              <li>
                <label
                  class="col"
                  [ngClass]="
                    userForm.controls['password']?.hasError('required') ||
                    userForm.controls['password']?.hasError('hasLowercase')
                      ? 'text-danger'
                      : 'text-success'
                  ">
                  <i class="material-icons" style="font-size: 1.2rem">
                    {{
                      userForm.controls['password']?.hasError('required') ||
                      userForm.controls['password']?.hasError('hasLowercase')
                        ? 'cancel'
                        : 'check_circle'
                    }}
                  </i>
                  At least 1 character in lower case
                </label>
              </li>
              <li>
                <label
                  class="col"
                  [ngClass]="
                    userForm.controls['password']?.hasError('required') ||
                    userForm.controls['password']?.hasError('hasUppercase')
                      ? 'text-danger'
                      : 'text-success'
                  ">
                  <i class="material-icons" style="font-size: 1.2rem">
                    {{
                      userForm.controls['password']?.hasError('required') ||
                      userForm.controls['password']?.hasError('hasUppercase')
                        ? 'cancel'
                        : 'check_circle'
                    }}
                  </i>
                  At least 1 character in upper case
                </label>
              </li>
              <li>
                <label
                  class="col"
                  [ngClass]="
                    userForm.controls['password']?.hasError('required') ||
                    userForm.controls['password']?.hasError(
                      'hasSpecialCharacters'
                    )
                      ? 'text-danger'
                      : 'text-success'
                  ">
                  <i class="material-icons" style="font-size: 1.2rem">
                    {{
                      userForm.controls['password']?.hasError('required') ||
                      userForm.controls['password']?.hasError(
                        'hasSpecialCharacters'
                      )
                        ? 'cancel'
                        : 'check_circle'
                    }}
                  </i>
                  At least 1 special character
                </label>
              </li>
            </ul>
          </div>
        </div>
      </form>
    </mat-card-content>

    <mat-card-actions style="padding: 1rem">
      <div>
        <span>
          {{ (createUserStatusSubject | async)?.message }}
        </span>
      </div>
      <div class="button-group" style="width: 100%">
        <button
          style="float: right; margin-left: 1rem"
          mat-flat-button
          type="submit"
          color="primary"
          (click)="onSubmit()"
          matTooltip="Submit user information">
          Submit
        </button>
        <button
          style="float: right"
          mat-flat-button
          color="primary"
          (click)="onCancel()"
          [routerLink]="''"
          matTooltip="Cancel Edit of Profile Information">
          Cancel
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
