mat-card {
  margin: 2rem auto;
  max-width: 350px;
  padding: 3rem;
  text-align: center;
  width: 100%;
}

mat-form-field {
  display: block;
}

.show-hide-password-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
