<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation_main"></nav>

<div class="container">

<h2 style="text-align: center" th:text="${title}">Default Title</h2>

<br /><br />

<div th:switch="${parentIsRoot}">
	<p th:case="true">Creating a new top level account</p>
	<p th:case="false">Creating a child account of:
		<br />
		<span style="font-weight: bold;" th:text="${parent.longName}">Longname of Parent Account</span>
	</p>
</div>

<br /><br />

<form action="#" th:action="@{'/ledger/accounts/create?parentAccountId=' + ${parent.id}}" th:object="${account}" method="post">
<!--form action="#" th:action="@{'/ledger/accounts/create'}" th:object="${account}" method="post"-->

    <input type="hidden" id="guid" th:field="*{guid}"/>
	  <input type="hidden" id="parentId" value="${parent.id}" th:field="*{parentId}"/>

	<div class="form-row">
    	<div class="form-group col-md-3">
			<label for="accountName">Account Name:</label>
			<input class="form-control" type="text" id="accountName" placeholder="" th:field="*{name}"/>
			<!-- autofocus="true"  attribute is slow-->
		</div>
    	<div class="form-group col-md-2">
			<label for="accountCode">Account Code:</label>
			<input class="form-control" type="text" id="accountCode" placeholder="" th:field="*{code}"/>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-5">
			<label for="accountDescription">Account Description:</label>
			<input class="form-control" type="text" id="accountDescription" placeholder=""  th:field="*{description}"/>
		</div>
	</div>
	<div class="form-row">
		<!-- if the immediate parent account is the root node, allow selection of the account category -->
    	<div th:if="${parentIsRoot == true}" class="form-group col-md-2">
		    <label for="accountCategoryControlSelect">Category</label>
		    <select class="form-control" id="aCategory" th:field="*{category}">
		    <option th:each="category : ${categories}"
                    th:value="${category}"
                    th:text="${category}">
                    <!--th:selected="${category == defaultAccountCategory}"-->
            </option>
        	</select>
		</div>
		<!-- if the immediate parent account is not the root node, set a hidden field to the value already assigned to the account -->
    	<div th:if="${parentIsRoot == false}" >
		    <input type="hidden" id="aCategory" th:field="*{category}"/>
    	</div>
		<!-- end if -->
    	<div class="form-group col-md-2">
		    <label for="accountTypeControlSelect">Type</label>
		    <select class="form-control" id="aType" th:field="*{type}">
		    <option th:each="type : ${types}"
                    th:value="${type}"
                    th:text="${type}">
            </option>
		    </select>
		</div>
	</div>	
	<div class="form-check">
	  	<label class="form-check-label">
	    <input class="form-check-input" type="checkbox" value="" th:field="*{hidden}" > Hidden</input>
	  	</label>
	</div>
	<div class="form-check">
	  	<label class="form-check-label">
	    <input class="form-check-input" type="checkbox" value="" th:field="*{placeholder}"> Placeholder</input>
	  	</label>
	</div>
	<div class="form-check">
	  	<label class="form-check-label">
	    <input class="form-check-input" type="checkbox" value="" th:field="*{taxRelated}"> Tax Related</input>
	  	</label>
	</div>
	<br /><br />
	<div class="row">
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>

</div>

<div th:replace="fragments :: bootstrapjs"></div>

<script type="text/javascript">
function sendAjaxRequest() {
    var category = $("#aCategory").val();
    $.get( "typesbycategory?category=" + category, function( data ) {
        $("#aType").empty();
        data.forEach(function(item, i) {
            var option = "<option value = " + item + ">" + item +  "</option>";
            $("#aType").append(option);
        });
    });
};

$(document).ready(function() {
    $("#aCategory").change(function() {
        sendAjaxRequest();
    });
});	
</script>

</body>
</html>