<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation_main"></nav>

<div class="container">

<h2 th:text="${title}">Default Title</h2>

<!--nav th:replace="fragments :: navigation"></nav-->
<p><a th:href="@{'/ledger/accounts/create?parentAccountId=1'}" class="text-muted">Create Top Level Account</a></p>
<br />

<!--p th:unless="${nodes} and ${nodes.size()}">No nodes to display</p-->

<table class="table">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Left</th>
        <th>Right</th>
        <th>Parent</th>
        <th>Depth</th>
        <th>Actions</th>
    </tr>

    <tr th:each="account : ${accounts}">
        <td th:text="${account.id}"></td>
        <td>
            <span
            th:with="count=${account.level - 1}" 
            th:text="${#strings.repeat('&nbsp; ',count)} + ${account.name}">
            </span>
        </td>
        <td th:text="${account.left}"></td>
        <td th:text="${account.right}"></td>
        <td th:text="${account.parent.id}"></td>
        <td th:text="${account.level}"></td>
        <td><a th:href="@{'/ledger/accounts/test?parentAccountId=' + ${account.id}}" class="text-muted">Edit</a> |
            <a th:href="@{'/ledger/accounts/create?parentAccountId=' + ${account.id}}" class="text-muted">Add Child</a> |
            <a th:href="@{'/ledger/accounts/delete?parentAccountId=' + ${account.id}}" class="text-muted">Remove</a>
        </td>
        <!--class="btn btn-outline-secondary btn-sm"-->
        <!--button type="button" class="btn btn-sm">Add Child</button></td-->

    </tr>

</table>

</div>

<div th:replace="fragments :: bootstrapjs"></div>

</body>
</html>